<!--
 ____    _____    ___        __                     __
/\  _`\ /\  __`\ /\_ \    __/\ \                   /\ \__
\ \ \/\ \ \ \/\ \\//\ \  /\_\ \ \____     __   _ __\ \ ,_\   ___
 \ \ \ \ \ \ \ \ \ \ \ \ \/\ \ \ '__`\  /'__`\/\`'__\ \ \/  / __`\
  \ \ \_\ \ \ \_\ \ \_\ \_\ \ \ \ \L\ \/\  __/\ \ \/ \ \ \_/\ \L\ \
   \ \____/\ \_____\/\____\\ \_\ \_,__/\ \____\\ \_\  \ \__\ \____/
    \/___/  \/_____/\/____/ \/_/\/___/  \/____/ \/_/   \/__/\/___/

-->
<html>
    <head>
        {% if title %}
        <title>{{ title }} - DOliberto</title>
        {% else %}
        <title>DOliberto</title>
        {% endif %}
    </head>
    <body>
        <div>
            DOliberto:
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            {% else %}
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
